# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
old/
.idea/
.DS_Store

# Distribution / packaging
.Python
env/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Visual Studio Code # 
.vscode/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history


# Testing
playground/
